$color-header:radial-gradient(circle, rgba(249,249,249,0.18249298010219717) 11%, rgba(240,240,240,1) 82%);
$color-letra-header:#357d71;
$color-main:radial-gradient(circle, rgba(227,227,227,0.18249298010219717) 11%, rgba(205,205,205,1) 82%);
$color-letra-main:#119f7e;